#benchmark {
  display: flex;
  flex-wrap: wrap;

  .endpoint {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1em;

    iframe {
      flex: 1;
    }
  }

  .chart {
    flex: 0 0 100%;
    padding: 1em;
  }
}
