#benchmark {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .endpoint {
    display: flex;
    flex-direction: column;
    margin: 1em;

    iframe {
      flex: 1;
    }
  }

  .chart {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1em;
  }
}
